/*** ALL ***/
:root {
	--color-accent: #3583dc;
	--color-accent-hover: #3583dc;
	--hero-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	--border-radius: 10px;
	--white-color: #c8c8c8;
	--white: #f5f5f5;
	--dark-color: #4b4b4b;
	--font-family: 'HelveticaNeueCyr', sans-serif;
	--second-family: 'Gilroy', sans-serif;
	--third-family: 'HelveticaNeue', sans-serif;
	--header-height: 130px;
	--section-padding: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
	--section-margin-bottom: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
	--section-font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
	--bs-btn-active-border-color: var(--color-accent-hover);
	--bs-btn-active-color: var(--color-accent-hover);
}

@media (max-width: 1440px) {
	:root {
		--header-height: 180px;
	}
}

@media (max-width: 992px) {
	:root {
		--header-height: 0;
	}
}

body {
	color: var(--dark-color);
	font-family: var(--font-family);
	padding-right: 0px !important;
	overflow: visible !important;
}

/*** BASE ***/
h1 {
	font-family: var(--second-family);
	color: #4b4b4b;
	font-size: clamp(1.875rem, 1.03rem + 3.47vw, 4.063rem);
	text-transform: uppercase;
	font-weight: 900;
}

h2 {
	font-family: var(--font-family);
	font-size: clamp(1.5rem, 1.355rem + 0.59vw, 1.875rem);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.02rem;
}

h3 {
	font-family: var(--font-family);
	font-size: 20px;
}

h5 {
	--bs-card-title-color: var(--dark-color);
	font-family: var(--font-family);
	font-weight: 600;
	color: var(--dark-color);
	font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
	margin-bottom: 0;
}

p {
	font-family: var(--font-family);
	font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem); /* 16px - 20px*/
	font-weight: 300;
	line-height: 1.35;
	color: var(--dark-color);
}

ul li {
	font-weight: 300;
	line-height: 1.35;
	font-family: var(--font-family);
	font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}

a {
	color: var(--color-accent);
	text-decoration: none;
}

a:hover {
	color: var(--color-accent-hover);
}

img {
	object-fit: cover;
}

/*** CUSTOM BASE CLASS ***/
.bg-linear-gradient-wrapper .card-img-container::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.15) 0%,
		rgba(0, 0, 0, 0.15) 70%,
		rgba(0, 0, 0, 0.75) 100%
	);
	opacity: 1;
	transition: opacity 0.5s;
}

.bg-linear-gradient-wrapper:hover .card-img-container::after {
	opacity: 0;
}

.bg-grey {
	background-color: #f5f5f5;
}

.bg-dark {
	background-color: var(--dark-color);
}

.color-32 {
	color: var(--dark-color);
}

.price-text {
	color: var(--color-accent);
	font-weight: 500 !important;
}

.section {
	padding-block: var(--section-padding);
}

.section-title {
	margin-bottom: var(--section-margin-bottom);
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 {
	font-weight: 700;
	font-size: var(--section-font-size);
	line-height: 1;
	margin-bottom: 1rem !important;
	color: var(--dark-color);
}

.section .img-wrapper,
.card-img-container {
	overflow: hidden;
	border-radius: var(--border-radius);
}

.card-img-container img,
.section .img-wrapper img {
	display: block;
	width: 100%;
	aspect-ratio: 3 / 2;
	transition: transform 0.5s ease;
	border-radius: 0;
}

.card:hover .card-img-container img,
.section .img-wrapper:hover img {
	transform: scale(1.05);
}

/*** BUTTONS ***/
.btn {
	--bs-btn-padding-x: 2.125rem;
	--bs-btn-padding-y: 0.875rem;
	--bs-btn-font-family: var(--font-family);
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 700;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: #fff;
	--bs-border-radius: 5px;
	--bs-border-width: 1px;
	--bs-btn-box-shadow: none;
	--bs-btn-disabled-opacity: 0.65;
	line-height: 1;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: var(--color-accent);
	transition: all 0.5s;
}

.btn:hover {
	color: var(--color-accent-hover);
	border: 1px solid var(--bs-btn-active-border-color);
	background: transparent;

	border-radius: 5px;
}

.btn-close:focus {
	--bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(224, 167, 83, 0.25);
}

/*** NAVBAR ***/
.navbar-toggler:focus {
	box-shadow: 0 0 0 0.25rem rgba(224, 167, 83, 0.25);
}

/*** DROPDOWN ***/
.dropdown-item.active,
.dropdown-item:active {
	--bs-dropdown-link-active-bg: rgba(228, 151, 38, 0.3);
	--bs-dropdown-link-active-color: var(--dark-color);
}

.dropdown-toggle::after {
	content: url(../img/ico/chevron-down-solid.svg);
	width: 10px;
	vertical-align: initial;
	margin-left: 16px;
	border: none;
}

/*** ACCORDION ***/
.accordion-item {
	border-radius: 5px;
	background: #e6e6e6;
}

.accordion-button {
	font-weight: 700;
	font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
	background-color: #e6e6e6;
	border-radius: 5px;
	color: var(--dark-color);
}

.accordion-button:not(.collapsed) {
	--bs-accordion-active-color: var(--dark-color);
	background-color: #e6e6e6;
	box-shadow: none;
	border-radius: 5px;
}

.accordion-button:focus {
	z-index: 3;
	outline: 0;
	border-color: transparent;
	border-radius: 5px;
	box-shadow: none;
}

.accordion-body {
	padding: 1rem 1.25rem;
	padding-top: 0px;
}

.accordion-body p {
	color: #4b4b4b;
	font-weight: 300;
	font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
	line-height: 1.35;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
	background-image: url(../img/ico/chevron-down-solid.svg);
	background-position: center;
	border-radius: 5px;
}

/*** FORM ***/
.form-control {
	--bs-modal-color: var(--dark-color);
	--bs-border-color: var(--color-accent);
}

.modal-header {
	--bs-modal-header-padding: 1.875rem;
	padding-bottom: 0.9375rem;
}

.modal-body {
	--bs-modal-padding: 0.9375rem 1.875rem;
}

.modal-body * {
	font-size: 16px;
}

.modal-footer {
	--bs-modal-padding: 1.875rem;
	padding-top: 0.9375rem;
}

.modal-body .form-label,
.modal-body p {
	font-family: var(--second-family);
	color: #4b4b4b;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1;
}

.modal {
	--bs-modal-header-border-width: 0;
	--bs-modal-footer-border-width: 0;
}

@media (max-width: 767.99px) {
	.modal-header {
		--bs-modal-header-padding: 1.875rem;
		padding-bottom: 0.9375rem;
	}

	.modal-body {
		--bs-modal-padding: 0.9375rem 1.875rem;
	}

	.modal-footer {
		--bs-modal-padding: 1.875rem;
		padding-top: 0.9375rem;
	}
}

/*** HEADER ***/
.header-nav-index {
	z-index: 10;
	position: relative;
}

.header-nav-top {
	border-bottom: 1px solid #c8c8c8;
	padding-block: 10px !important;
}

.header-nav-bottom {
	z-index: 10;
	background-color: #fff;
}

.header-nav-bottom .nav-link {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #4b4b4b;
	transition: color 0.5s ease;
}

.header-nav-bottom .nav-link.show,
.header-nav-bottom .nav-link:hover {
	color: var(--color-accent-hover);
}

.header-nav-bottom .nav-link.active {
	--bs-navbar-active-color: var(--color-accent);
}

.header-top .dropdown-item.nav-item {
	transition: color 0.5s ease;
}

.header-top .dropdown-item.nav-item:hover {
	color: var(--color-accent-hover);
}

.navbar-nav .dropdown-menu .header-top .dropdown-item.nav-item {
	font-size: 12px;
	text-wrap: wrap;
}

.header-nav-bottom .navbar-nav {
	--bs-nav-link-color: var(--white-color);
}

.header-top .nav-link,
.header-top .top-menu-tel {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #4b4b4b;
	transition: color 0.5s ease;
}

.header-top .nav-link:hover,
.header-top .top-menu-tel:hover {
	color: var(--color-accent-hover);
}

@media (min-width: 992px) {
	.nav-link,
	.top-menu-tel {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.header-nav-top .top-menu-tel {
	font-weight: 700 !important;
	font-size: 16px !important;
	color: #4b4b4b;
}

.header-nav-top .nav-link {
	font-weight: 400;
	font-size: 14px;
	color: #4b4b4b;
}

#sliding-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1050;
	transform: translateY(-100%);
	opacity: 0;
	transition: transform 0.5s ease, opacity 0.5s ease;
	pointer-events: none;
	background-color: white;
}

#sliding-header.visible {
	transform: translateY(0);
	opacity: 1;
	pointer-events: auto;
}

/*** HOME CAROUSEL ***/
.carouselMain {
	height: 620px;
}

.carouselMain h1,
.carouselMain h2 {
	font-size: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
	margin-bottom: 0;
	color: #4b4b4b;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.25;
}

@media (max-width: 768px) {
	.carouselMain h1,
	.carouselMain h2 {
		max-width: 400px;
		margin-inline: auto;
		text-align: center;
		text-wrap: balance;
	}
}

@media (max-width: 568px) {
	.carouselMain h1,
	.carouselMain h2 {
		line-height: 1;
	}
}

.carousel-inner,
.carousel-item {
	height: 100%;
}

.carousel-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 640px;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	background-image: url('../img/home-section-two.jpg');
}

@media (max-width: 1440px) {
	.carousel-background {
		background-image: url('../img/home-section-two.jpg');

		background-position: right;
	}
}

@media (max-width: 992px) {
	.carousel-background {
		background-position: left;
		place-self: anchor-center;
		background-size: cover;
	}

	.carousel-background::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

@media (max-width: 768px) {
	.carousel-background {
		background-image: url('../img/home-section-mobile.jpg');
	}
}

.carousel-content {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

.carousel-content .container {
	margin-top: 60px;
	margin-bottom: 60px;
}

@media (max-width: 1440px) {
	.carousel-content .container {
		margin-top: 140px;
	}
}

@media (max-width: 768px) {
	.carousel-content .container {
		margin-top: auto;
		margin-bottom: 60px;
	}
}

@media (max-width: 460px) {
	.carousel-content .container {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media (max-width: 360px) {
	.carousel-content .container {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.carousel-control-next,
.carousel-control-prev {
	transition: all 0.5s ease;
	opacity: 1;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
	opacity: 0.6;
}

.carousel-control-prev-icon {
	background-image: url(../img/ico/arrow-left.svg);
}

.carousel-control-next-icon {
	background-image: url(../img/ico/arrow-right.svg);
}

@media (max-width: 992px) {
	.carouselMain {
		margin: initial;
	}

	.header-nav-bottom {
		background-color: #fff !important;
	}

	.header-nav-bottom:has(.navbar-toggler[aria-expanded='true']) {
		background-color: #fff;
	}

	.navbar-brand img {
		max-width: 170px;
		height: 50px;
	}

	#sliding-header .top-menu-tel,
	.header-nav-bottom .top-menu-tel-wrapper {
		font-size: 14px;
	}

	#sliding-header .top-menu-tel,
	.header-nav-bottom .top-menu-tel-wrapper .top-menu-tel {
		font-weight: 700;
	}

	.header-nav-bottom .nav-link {
		text-align: start;
	}

	#sliding-header .top-menu-tel,
	.header-nav-bottom .nav-link.top-menu-tel {
		color: var(--color-accent);
	}

	.header-nav-bottom .nav-link {
		color: var(--dark-color);
	}

	.header-top {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
}

/*** SECTION HALF ***/
.section-half {
	position: relative;
}

.section-half .half-bg {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
}

.section-half .left-part,
.section-half .right-part {
	flex: 0 0 50%;
	max-width: 50%;
	height: 100%;
	width: 100%;
}

.section-half.price-section .right-part.left-part {
	flex: 0 0 53%;
	max-width: 55%;
}

.section-half.price-section .left-part {
	flex: 0 0 47%;
	max-width: 45%;
}

.section-half .right-part img {
	height: 100%;
	width: 100%;
}

.section-half .right-part.left-part img {
	object-position: right;
}

.section.section-half.section-faq,
.section.section-half.price-section,
.section.section-half.section-who-makes {
	height: 514px;
	align-content: center;
}

@media (max-width: 768px) {
	.section.section-half.section-faq,
	.section.section-half.price-section,
	.section.section-half.section-who-makes {
		height: auto;
	}
}

.section-half.section-faq .right-part.left-part img {
	object-position: 40%;
}

.section-half .ico-button {
	padding: 0;
}

.section-half .container {
	z-index: 3;
	position: relative;
}

.section.section-half button {
	margin-top: var(--section-padding);
	margin-bottom: calc(var(--section-padding) / 1.5);
}

/*** FOOTER ***/
.footer {
	background: #e1e1e1;
	background-image: url(../img/footer-background.jpg);
	background-size: cover;
	background-position: center;
}

.footer * {
	font-size: 14px;
	color: #f5f5f5 !important;
}

.footer .nav-link {
	--bs-nav-link-padding-x: 0.5rem;
	transition: color 0.5s ease;
}

@media (max-width: 1240px) {
	.footer .nav-link {
		width: max-content;
	}
}

@media (max-width: 400px) {
	.footer .nav-link {
		display: flex;
		align-items: center;
	}

	.footer .nav-link span {
		max-width: 200px;
	}
}

.footer button span {
	transition: color 0.5s ease;
}

.footer a:hover,
.footer button:hover,
.footer button:hover span {
	color: var(--color-accent-hover) !important;
}

.footer .dropdown-toggle::after {
	margin-left: 1rem;
}

.footer .navbar-nav {
	color: var(--white-color);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
}

.footer .navbar-nav .active {
	color: var(--color-accent) !important;
}

.footer .footer-nav .nav-link {
	font-weight: 400;
	font-size: 14px;
}

.footer .top-menu-tel {
	font-weight: 700;
	font-size: clamp(1.125rem, 1.077rem + 0.2vw, 1.25rem);
	width: max-content;
}

.footer .top-menu-tel span {
	font-weight: 700;
	font-size: clamp(1.125rem, 1.077rem + 0.2vw, 1.25rem);
	color: var(--color-accent) !important;
}

@media (min-width: 1200px) {
	.footer .top-menu-tel {
		margin-left: auto;
	}
}

.footer .footer-icon {
	padding-top: 26px;
}

.footer .maps {
	max-width: 165px;
}

.footer .time {
	max-width: 140px;
}

.footer .footer-nav .nav-link.tel {
	font-weight: 700;
	font-size: 16px;
}

.footer .footer-nav div {
	font-weight: 400;
}

#navbar-brand-img {
	display: block;
	width: 230px;
}

#im-in-footer {
	margin-block: 30px;
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

#im-in-footer * {
	transition: color 0.5s ease;
	font-size: 16px;
}

.footer hr {
	margin: 0;
	color: #acacac !important;
}

.footer-menu .nav-link.active {
	color: var(--color-accent);
}

.footer-menu .nav-link:hover {
	color: var(--color-accent-hover);
}

.footer-menu .dropdown-menu .nav-item {
	transition: all 0.5s;
}

.footer-menu .dropdown-menu .nav-item:hover {
	color: var(--color-accent-hover);
}

.footer-menu .dropdown-menu .dropdown-item.active,
.footer-menu .dropdown-menu .dropdown-item:active {
	color: var(--dark-color);
}

/*** GALLERY ***/
.gallery-2691-wrapper.carousel-item::after {
	background: none;
}

.gallery-2691 {
	padding: 0;
	border: none;
	outline: none;
	border-radius: 10px;
	height: 100%;
}

.gallery-2691 .single-product-img img {
	border-radius: 10px;
}

.gallery-2691 .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.3s;
}

.gallery-2691 .overlay img {
	height: 60px;
	width: 60px;
}

.gallery-2691:hover .overlay {
	opacity: 1;
}

/*** ADVANTAGES ***/
.advantage-title {
	font-weight: 700;
	font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}

.advantage-text {
	font-weight: 300;
	font-size: clamp(1rem, 0.952rem + 0.2vw, 1.125rem);
	line-height: 125%;
}

/*** PRICE ITEMS ***/
.price-item {
	display: flex;
	align-items: baseline;
	width: 100%;
	margin-bottom: 16px;
	position: relative;
	overflow: hidden;
}

.price-name {
	margin-right: 10px;
	position: relative;
	z-index: 1;
	background-color: #f5f5f5;
	padding-right: 5px;
}

@media (max-width: 768px) {
	.price-item {
		align-items: flex-end;
	}

	.price-name {
		width: 100%;
		max-width: 220px;
	}
}

@media (max-width: 576px) {
	.price-name {
		max-width: 120px;
	}
}

.price-value {
	position: relative;
	z-index: 1;
	margin-left: auto;
	background-color: #f5f5f5;
	padding-left: 5px;
}

.price-item::after {
	content: '';
	position: absolute;
	bottom: 0.5em;
	width: 100%;
	border-bottom: 2px dotted var(--dark-color);
	margin: 0 10px;
}

/*** HEADER TOP ***/
.header-nav-top {
	font-weight: 400;
	font-size: 14px;
	color: #4b4b4b;
}

.header-nav-top .location,
.header-nav-top .time,
.header-nav-top button.nav-link {
	font-weight: 400;
	font-size: 14px;
	color: #4b4b4b;
	text-transform: inherit;
}

.location {
	max-width: 152px;
}

.time {
	max-width: 140px;
}

/*** CAROUSEL MAIN ***/
#carouselMain {
	height: calc(100vh - var(--header-height));
	margin-top: calc(-1 * var(--header-height));
}

@media (max-width: 768px) {
	#carouselMain {
		--header-height: 70px;
		height: initial;
		margin-top: var(--header-height);
	}
}

#carouselMain .advantage-text {
	font-weight: 300;
	font-size: clamp(1rem, 0.954rem + 0.19vw, 1.125rem);
	line-height: 125%;
}

#carouselMain .carousel-title {
	margin-bottom: 0;
}

#carouselMain .carousel-subtitle {
	margin-block: clamp(1rem, 0.541rem + 1.88vw, 2.188rem);
	font-size: clamp(1.563rem, 0.959rem + 2.48vw, 3.125rem);
	font-family: var(--second-family);
	font-weight: 600;
	color: #4b4b4b;
}

#carouselMain .carousel-text {
	font-weight: 400;
	font-size: clamp(1.25rem, 1.157rem + 0.38vw, 1.5rem);
	line-height: 125%;
	color: #4b4b4b;
	margin-bottom: clamp(1rem, 0.469rem + 2.18vw, 2.375rem);
}

/*** FORM CONTROL ***/
.form-control:focus {
	box-shadow: 0 0 0 0.25rem rgba(224, 167, 83, 0.25);
	border-color: var(--color-accent-hover);
}

/*** MODAL ***/
#callbackModal h5 {
	color: var(--dark-color);
	font-weight: 700;
}

#callbackModal p {
	color: var(--dark-color);
}

/*** BTN CLASSES ***/
.btn-corporate-color-1 {
	background-color: var(--color-accent);
	color: #fff;
	border: none;
}

/*** ICO BUTTON ***/
.ico-button {
	padding: 0;
}

.section-what-service .what-service-text p {
	margin-bottom: 0;
	font-family: var(--font-family);
}

.section-plaster h3.advantage-title {
	font-weight: 500;
	margin-bottom: 1rem;
}

.section-plaster ul li {
	margin-bottom: 1rem;
	font-size: clamp(1rem, 0.952rem + 0.2vw, 1.125rem);
	font-weight: 300;
}

.section-plastering-walls .d-flex.flex-column {
	padding: 15px 12px;
	background-color: #f5f5f5;
	border-radius: 5px;
}

.section-plastering-walls h3 {
	font-size: clamp(1.25rem, 1.202rem + 0.2vw, 1.375rem);

	font-family: var(--second-family);
	font-weight: 600;
	margin-bottom: clamp(1rem, 0.783rem + 0.89vw, 1.563rem);
}

.section-plastering-walls p strong {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: clamp(1rem, 0.759rem + 0.99vw, 1.625rem);
	color: var(--color-accent);
}

.section-plastering-walls .d-flex.flex-column button {
	--bs-btn-padding-x: 0.75rem;
	letter-spacing: -0.02rem;
}

.section-advantage .advantage-text {
	margin-bottom: 0;
}

.section-how .col.text-start h3 {
	font-weight: 700;
}

.section-room-requirements .advantage-title {
	font-weight: 500;
}

.section-room-requirements .advantage-text {
	margin-bottom: 0;
}

.footer .navbar-nav {
	--bs-nav-link-font-weight: 500;
}

@media (min-width: 1200px) {
	.footer .navbar-nav {
		text-transform: uppercase;
	}
}

.footer-menu .nav-item .nav-link {
	text-transform: uppercase;
}

.marker {
	display: flex;
	flex-wrap: nowrap;
}

.modal-gallery {
	background: rgba(0, 0, 0, 0.9);
}

.local-header,
.time-header {
	font-size: 14px;
	padding-block: 8px;
}

.time-header-icon img {
	height: 10px;
	width: 10px;
	align-self: center;
}

.times {
	max-width: 180px;
	text-transform: initial !important;
}
